# Docker build instructions.
Dockerfile
.dockerignore
docker/.volumes

# Revision control.
.git/
**/.gitignore

# Vim files.
tags
**/*.sw[po]

# CI secrets.
codeship.aes
deploy/*
config/test.config

# Build tools in base image.
./rebar3

# Local build artifacts.
./_build
.virtualenv
log
logs
test/.rebar3
